*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html{
	font-size: 10px;
	font-family: 'Roboto' , sans-serif;
	color: #000000;
}

body{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    
}

a{
	text-decoration: none;
	color: #222222;

}

p{
	font-size: 1.8rem;
	font-weight: 300;
}

img{
	width: 50%;
}

header{
	width: 100%;
	height: 100vh;
}
.top-nav{
	width: 100% ;
	height: 100vh ;
	position: fixed;
	top: -100vh;
	z-index: 50;
	background: #4CAF50;
  	border-bottom-left-radius: 100%;
	border-bottom-right-radius: 100%;
	transition: all 650ms cubic-bezier(1,0,0,1);
	 background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
    background-size: cover;
}

.nav-list{
	list-style: none;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

li{

	margin: 0 2rem;

}

.nav-link{

	font-family: "arial", serif;
	color: #ffffff;
	font-weight: bold;
	opacity: 0.9;
	font-size: 4.5rem;
	padding: 1.5rem;
	padding: 25px;
}

.nav-link:hover,
.nav-link:focus{
	background: linear-gradient(to bottom, #d6ae7b,#eacda3);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent ;
	transform: scale(1.5);
}

.top-nav.open{
	top: 0;
	border-radius: initial;

}

.menu-toggler{
	position: absolute;
	top: 5rem;
	right: 5rem;
	width: 5rem;
	height: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	z-index: 1500;
	transition: transform 150ms ease-out;
}

.menu-toggler.open{
	transform: rotate(-45deg);
}

.bar{
	background: #0f0c29;
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
	width: 100%;
	height: 4px;
	border-radius: 1rem;
}

.bar.half{
	width: 50%;

}

.bar.start{
	transform-origin: right;
	transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
	left: 80px;
}

.open .bar.start{
	transform: rotate(-810deg) translateX(0.8rem);
}
.bar.end{
	align-self: flex-end;
	transform-origin: left;
	transition: transform 650ms cubic-bezier(0.54,-0.81,0.57,0.57);
}

.open .bar.end{
	transform: rotate(-810deg) translateX(-0.8rem);
}

.WebHead{
	position: fixed;
	top: 55%;
	left: 22%;
	transform: translate(-50%,50%);
	width: 100%;
	font-weight: bolder;
	text-align: center;
    z-index: 1;
    text-decoration: none;
}

.WebHead-text h1{
	font-size: 8rem;
	font-family: "old figaro cursive", sans-serif;
    color: #000000 ;
	padding: 1rem;
	font-weight: bolder;
	opacity: 0.8;
	user-select: none;
}

.WebHead-text h4{
	font-size: 1.9rem;
	font-weight: 350;
	font-family: "arial" , serif;
    color: #28313e;
	padding: 1rem;
	opacity: .6;
	text-transform: uppercase;
	user-select: none;
}

.WebHead-img{
	position: fixed;
	top: 10%;
	left: 5%;
	padding: 20px;
	flex: 1;
	margin-right: 5rem;
	background-size: 25%;
	width: 65%; 
    height: 50%; 
    object-fit: contain; 
	
	}


.login{
	position: fixed;
	border-left-width: 20px;
	padding: 5rem;
	left: 57%;
	top: 20%
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  left: 50%;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

